<script>
analytics.track('Shared', {
    status: "Yay"
});
</script>
<div class="hero-unit">
  <a href="http://www.140verses.com"><img src="/lib/images/logo.png" alt="140 verses" align="left"/></a>
  <ul class="nav nav-pills pull-right">
  	<li><a href="/">Home</a></li>
	<li><a href="/discover">Discover</a></li>
    <li class="active"><a href="/create">Create & Share</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Love us?</a></li>
    </br></br></br></br>
    <blockquote>140verses takes random sentences from the internet, and puts it together to make poems.</blockquote>
  </ul>
</div>
<div class="container">
<blockquote key="<%=@poem["key"]%>">
	<p><%=@poem[1]%></p>
	<small><a href="http://twitter.com/<%=@poem["t1"]%>/status/<%=@poem["s1"]%>"><%=@poem["t1"]%></a></small>
	<p><%=@poem[2]%></p>
	<small><a href="http://twitter.com/<%=@poem["t2"]%>/status/<%=@poem["s2"]%>"><%=@poem["t2"]%></a></small>
	<p><%=@poem[3]%></p>
	<small><a href="http://twitter.com/<%=@poem["t3"]%>/status/<%=@poem["s3"]%>"><%=@poem["t3"]%></a></small>
	<p><%=@poem[4]%></p>
	<small><a href="http://twitter.com/<%=@poem["t4"]%>/status/<%=@poem["s4"]%>"><%=@poem["t4"]%></a></small>
</blockquote>

<div class="span12">
	<div class="addthis_toolbox addthis_default_style addthis_32x32_style"  addthis:url="http://www.140verses.com/share/<%=@poem["key"]%>" addthis:title="I just composed a poem using #140verses | ' <%=@poem[1][0..50]%> ....' | " addthis:description="#140verses composes poems using tweets!">
	<a class="addthis_button_preferred_1"></a>
	<a class="addthis_button_preferred_2"></a>
	<a class="addthis_button_preferred_3"></a>
	<a class="addthis_button_preferred_4"></a>
	<a class="addthis_button_compact"></a>
	<a class="addthis_counter addthis_bubble_style"></a>
	</div>
	<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-5009907322814fcf"></script>
</div>
</div>


